/////////CLASSES, VARIABLES and MIXINS

.hidden{
    display: none;
}

//VARIABLES

$base-color: #478cfa;
$secondary-color: #E3EDFD;
$background-color: #FAFAFA;
$tertiary-color: #1A1A1A;

$box-shadow:rgba(96, 101, 105, 0.2) 0px 8px 24px;
$border-radius: 0px 0px 20px 20px;


.coloredHeader{
    background-color: $base-color;
    height: 4vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vw;
    color: white;
    }