//VARIABLES

$base-color: #478cfa;
$base-color-shade: #336ac2;
$secondary-color: #E3EDFD;
$background-color: #FAFAFA;
$tertiary-color: #1A1A1A;

$box-shadow:rgba(96, 101, 105, 0.2) 0px 8px 24px;
$border-radius: 0px 0px 20px 20px;

/////////CLASSES, VARIABLES and MIXINS

.hidden{
    display: none;
}

.coloredHeader{
    background-color: $base-color;
    position: absolute;
    color: white;
    width: 100%;
    padding: 3vh 0 1vh 2vw;
    }
