body {
        background-color: $background-color;
        margin: auto 0;
    }

main {
        height: 100vh;
        display: grid;
        grid-template-columns:  30% 30% 15% 25%;
        grid-template-rows: min-content 1fr 1fr;
    }

#orders{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}

#notes{
    grid-column: 4;
    grid-row: 3;
}

#bartenders{
    grid-column: 4;
    grid-row: 2;
}

#storage {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
}

header{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 5;
}

