body {
        background-color: $background-color;
        margin: auto 0;
    }

@media (min-width:600px) {
main {
        height: 100vh;
        display: grid;
        grid-template-columns:  30% 45% 25%;
        grid-template-rows: min-content 1fr 1fr;
    }

#orders{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}

#notes{
    grid-column: 3;
    grid-row: 3;
}

#bartenders{
    grid-column: 3;
    grid-row: 2;
}

#storage {
    grid-column: 2;
    grid-row: 2;
}

header{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}
}

@media (max-width:599px) {
#bartenders,
#notes,
#storage,
#beerInfo{
    margin: 5vh 2vh;
}

#bartenderCards,
.note{
    margin: 3vw;
}

.bartender{
    padding: 4vw;

    img{
        height: 15vw;
    }
}

.note:first-child{

    padding: 2vw;
    max-height: 40vh;
    overflow: scroll;
}

#beerInfoHeader{
    display: block;
}

.beerInfoCard{
    display: block;
}

.beerVisuals{
align-content: center;
justify-content: center;
}
.beerInfoText{
    padding: 5vw;
    max-width: 100%;
    justify-content: center;
}

.orderContainer{
    border-radius: 20px;
}
}