body {
    background: rgba(248,247,255,1.0);
    margin: auto 0;
}

header{
    background-color: rgba(234,234,245,1.0);
    height: 7vh;
}
.orderCard{
    background: white;
    max-width: max-content;
    padding: 2vw;
    border-radius: 25px;
}

