#bartenders{
    padding: 2vw;
    background-color: white;
    margin: 0vw 2vw 1vw 1vw;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    position: relative;
}

img.bartenderPhoto{
    height: 3vw;
    padding: 0;
}

.bartender{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid $secondary-color;
    margin: 1vw 0;
    padding: 0.5vw;
    border-radius: 50px;
}

.bartender:first-child{
    margin-top: 6vh;
}
