#bartenders{
    padding: 2vw;
    background-color: white;
    margin: 0vw 2vw 1vw 1vw;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

img.bartenderPhoto{
    height: 3vw;
    padding: 0;
}

#bartender{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid rgba(201,193,255,1.0);
    margin: 1vw 0;
    padding: 0.5vw;
    border-radius: 50px;
}


