#bartenders{
    @include sectionBox;
    margin: 0vw 2vw 1vw 1vw;
    position: relative;

    h1{
        position: sticky;
        top: 0;
    }
}

img.bartenderPhoto{
    width: clamp(40px,3vw, 3vw);
    padding: 0;
}

.bartender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $secondary-color;
    margin: 1vw 0;
    padding: 0.5vw;
    border-radius: 50px;
}


#bartenderCards{
    padding: 1vw;
}

