#beerInfo{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: $box-shadow;
    margin: 0vw 1vw 1vw 2vw;
    overflow: hidden;
}

#beerInfoHeader{
    display: flex;
    justify-content: space-between;
}