#notes{
    @include sectionBox;
    margin: 0vw 2vw 0vw 1vw;
    position: relative;

    h1{
        position: sticky;
        top: 0;
    }
}

.note{
    border: 1px solid $secondary-color;
    border-radius: 10px;
    margin: 0.7vw 0;
    padding: 1em;
}

#notesContainer{
    padding: 1vw 2vw;

}

.noteStamp{
    display: flex;
    margin-bottom: 0.5vw;

    img{
        height: 1.5em;
        width: auto;
        margin-right: 1em;
    }

    p{
        font-size: clamp(12px, 0.7em, 0.7em);
    }
}

