#notes{
    @include sectionBox;
    margin: 0vw 2vw 0vw 1vw;
    position: relative;

    h1{
        position: sticky;
        top: 0;
    }

    form{
        position: sticky;
        bottom: 0;
        background-color: white;
        padding-top: 1vw;
    }
}

.note{
    border: 1px solid $secondary-color;
    border-radius: 10px;
    margin: 0.7vw 0;
    padding: 1em;
    position: relative;
}

#notesContainer{
    padding: 1vw 2vw;
}

.noteStamp{
    display: flex;
    margin-bottom: 0.5vw;

    .sentIcon{
        height: 1.5em;
        transform: rotate(-45deg);
        margin-top: -0.5em;
        margin-right: 1em;
    }

    p{
        font-size: clamp(12px, 0.7em, 0.7em);
    }
}

//FORM

#noteForm{
    display: flex;
    margin: 0 2vw;

    #noteTextArea{
        width: 75%;
        resize: none;
        display: inline;
    }

    input{
        background-image: url("submit-icon.svg");
        margin-left: 0.5vw;
    }

    input:hover{
        cursor: pointer;
    }
}

.noteTextArea{
    border: 1px solid $base-color;
    font-family: inherit;
    border-radius: 20px;
    font-size: inherit;
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    width: 100%;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
  }
  
#notes button img{
    background-color: transparent;
    width: 1.5em;
    height: 1.5em;
}

.deleteNote{
    position: absolute;
    right: 5px;
    top: 5px;
}

#notes button{
    border: none;
    background-color: transparent;
}

.deleteNote:focus,
.noteTextArea:focus{
    outline: none;
}




