#notes{
    background-color: white;
    border-radius: $border-radius;
    margin: 0vw 2vw 0vw 1vw;
    box-shadow: $box-shadow;
    overflow: scroll;
    position: relative;

    h1{
        position: sticky;
        top: 0;
    }
}

.note{
    border: 1px solid $secondary-color;
    border-radius: 10px;
    margin: 1vw 0;
    padding: 1vw;
}


#notesContainer{
    padding: 1vw 2vw;

}

.noteStamp{
    display: flex;
    margin-bottom: 0.5vw;

    img{
        height: clamp(16px, 0.7em, 0.7em);
        margin-right: 0.5vw;
    }

    p{
        font-size: clamp(12px, 0.7em, 0.7em);
    }
}

