#orders{
    background-color: $base-color;
    overflow: scroll;
}

#filterButtons{
    display: flex;
    justify-content: center;

    input{
        margin: 1vw 1vw 0 1vw;
    }
}

.orderContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1vw 4vw;
    padding: 2vw;
    border-radius: 40px;
    box-shadow: $box-shadow;
}

.orderHeader{
    display: flex;
    justify-content: space-between;
}
.orderTotal{
    text-align: right;
}

#noOrdersPlaceholder{
    text-align: center;
    margin-top: 4vh;
}

/*.orderContainer{
    animation: 0.5s float-in ease-in-out;
}

@keyframes float-in{
    0%{
opacity: 0;
transform: translateY(10vh);

    }

    100%{
opacity: 1;
    }
}*/