#orders{
    background-color:rgba(56,52,105,1.0) ;
    height: 92vh;
    overflow: scroll;
}

#filterButtons{
    display: flex;
    justify-content: center;

    input{
        margin: 1vw 1vw 0 1vw;
    }
}

.orderContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1vw 4vw;
    padding: 2vw;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.orderHeader{
    display: flex;
    justify-content: space-between;
}
.orderTotal{
    text-align: right;
}

#noOrdersPlaceholder{
    text-align: center;
    margin-top: 4vh;
}