
#storage{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: $box-shadow;
    margin: 0vw 1vw 1vw 2vw;
    overflow: scroll;
}

////had to use important to overwrite the default settings by charts.js
canvas{
    width:clamp(100px,6vw, 6vw) !important;
    height:clamp(100px,6vw, 6vw) !important;
    position: relative;
}

#taps{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.tapName{
    height: min-content;
    margin: auto;
    text-align: center;
}


.tapContainer{
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin: 1vh 0 1vh 0;
    overflow: hidden;
    position: relative;
}

.tapAmount{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;

}

#storage-nav{
    font-family: Montserrat;
}

.nav-item{
    color: white;
    transition: 0.15s;
    font-size: clamp(20px, 1em, 1em);
}

.nav-item:hover{
    background-color: $base-color;
    color: white;
}

.chartContainer{
    position: relative;
}

#nav-tab.nav.nav-tabs{
    background-color: $base-color;
    padding: 1vw 0 0 1vw;
    
}

#tabs.tab-pane.active{
    padding: 1vh 2vw;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: $base-color;
}